@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@font-face {
    font-family: 'CaskaydiaCove NF';
    src: url('/fonts/Caskaydia Cove NF.ttf');
}

:root {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

*, body {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}